<div class="container">
  <h1 class="title" am-clip="up">Usage</h1>
  <h2 class="subtitle" am-clip="up" am-delay="400">drop in some directives</h2>

  <h3 am-fade>am-clip</h3>
  <p am-fade am-delay="100">Moves elements into the view</p>
  <p am-fade am-delay="100">Options: up, down, left, right</p>
  <pre><code am-fade am-delay="200">&lt;div am-clip=&quot;up&quot;&gt;...&lt;/div&gt;</code></pre>

  <h3 am-fade am-delay="400">am-fade</h3>
  <p am-fade am-delay="500">Fades elements in and out</p>
  <pre><code am-fade am-delay="600">&lt;div am-fade&gt;...&lt;/div&gt;</code></pre>

  <h3 am-fade am-delay="800">am-delay</h3>
  <p am-fade am-delay="900">Delays applied animations</p>
  <p am-fade am-delay="900">Option: delay in ms</p>
  <pre><code am-fade am-delay="1000">&lt;div am-delay&quot;400&quot; am-fade&gt;...&lt;/div&gt;</code></pre>
</div>